<div class="form-wrapper">
    <form id="widget-form">
        <div class="search_dates">
            <span id="datepicker">
                Check-in &rarr; Check-out
            </span>
            <input type="hidden" name="in" value="" />
            <input type="hidden" name="out" value="" />
        </div>
        <div class="search_occupancy">
            <div class="occupancy_adults">
                <select name="occupancy_adults" id="occupancy_adults">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>

            <div class="occupancy_children">
                <select name="occupancy_adults" id="occupancy_adults">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="search-wrapper">
            <button type="submit" class="search">Search</button>
        </div>
    </form>
</div>