<div class="rootrez_widget_form_wrapper">
    <form id="rootrez-widget-form" method="get" name="rootrez-widget-form">
        <div class="search_dates">
            <span id="rootrez_daterangepicker">Check-in &rarr; Check-out</span>
            <input type="hidden" name="Checkin" id="Checkin" value="" />
            <input type="hidden" name="Checkout" id="Checkout" value="" />
        </div>
        <div class="search_extras">
            <div class="search_occupancy">
                <div class="occupancy_adults">
                    <select name="GuestsAdult" id="adults">
                        <option value="">Adults</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div class="occupancy_children">
                    <select name="GuestsChildren" id="children">
                        <option value="">Children</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="search_promo_code">
                <select name="PromoCode" id="PromoCode">
                    <option value="">Select Promo Code</option>
                </select>
            </div>
        </div>
        <div class="search-wrapper">
            <button type="submit" class="search">Search</button>
        </div>
    </form>
</div>