// Fonts

@font-face {
    font-family: 'proximanova-regular';
    src: url('https://assets.rootrez.com/rr-rangepicker/dist/fonts/proxima-nova/proximanova-regular-webfont.woff2') format('woff2'),
         url('https://assets.rootrez.com/rr-rangepicker/dist/fonts/proxima-nova/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proximanova-bold';
    src: url('https://assets.rootrez.com/rr-rangepicker/dist/fonts/proxima-nova/proximanova-bold-webfont.woff2') format('woff2'),
         url('https://assets.rootrez.com/rr-rangepicker/dist/fonts/proxima-nova/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}