// Variables

// CSS Variables;

:root {
  --primary-color: #21205f;
  --secondary-color: #d71920;
}



// Scss Variables
$font-family:		'proximanova-regular', -apple-system, sans-serif;


// Colors:

$border-color:		#ececec;