#widget-title-box {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  word-wrap: normal;
}

#widget-title {
  padding: 0 10px;
  margin: 5px;
  text-align: center;
}

#widget-tagline {
  padding: 0 10px;
  margin: 5px;
  text-align: center;
}

.rootrez_widget_form_wrapper {
  max-width: 800px;
  background-color: #fff;
  border-radius: var(--border-radius);
  border: var(--form-border);
  box-shadow: var(--box-shadow);
  margin: 0 auto;

  //overflow: hidden;
  // border: 1px solid red;
}

#rootrez-widget-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0;

  > div {
    box-sizing: border-box;
  }

  .search {
    &_dates {
      flex: 1 1 35%;
      border-right: 1px solid var(--border-color);
      height: 60px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 16px;
      font-size: 14px;

      svg {
        fill: var(--primary-color);
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }

      @include mq(phone-only) {
        flex-basis: 100%;
        text-align: center;
        border-bottom: 1px solid var(--border-color);
        border-right: none;
      }
    }

    &_promo_code {
      flex: 0 1 25%;
      border-right: 1px solid var(--border-color);
      height: 60px;
      padding: 16px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      position: relative;
      max-width: 25%;

      @include mq(phone-only) {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
      }

      &-event {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 60px;
        width: 100%;
      }

      svg {
        fill: var(--primary-color);
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }

      select {
        appearance: none;
        -webkit-appearance: none;
        max-width: 80%;
        border: none;
      }

      h3 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        display: flex;
        align-items: center;
        width: 92%;
        
        span {
          white-space: nowrap;
          overflow: hidden;
          display: inline-block;
          width: 100%;
        }
      }

      .deals-list {
        ul {
          margin: 0 -8px;
          padding: 0;
          list-style: none;
          li {
            font-size: 12px;
            padding: 5px 8px;

            list-style: none;
            cursor: pointer;

            &:hover, &.selected {
              background: var(--primary-color);
              color: white;
            }
          }
        }
      }
    }

    &_occupancy {
      flex: 0 1 25%;
      height: 60px;
      padding: 16px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      position: relative;
      max-width: 25%;

      &-event {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 60px;
        width: 100%;
      }

      h3.guest-total {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        display: flex;
        align-items: center;
      }

      svg {
        fill: var(--primary-color);
        width: 21px;
        height: 20px;
        margin-right: 8px;

        .counter_wrap & {
          margin: 0;
        }
      }

      .counter_wrap {
        svg {
          margin-right: 1px;
        }
      }
    }

    &_submit {
      flex: 0 1 15%;

      //width: 20%;
      border-radius: var(--border-radius);

      @include mq(phone-only) {
        flex-basis: 100%;
      }

      button {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        background-color: var(--primary-color);
        text-transform: uppercase;
        color: white;
        height: 60px;
        cursor: pointer;
        font-size: 14px;
        font-family: var(--book-font);
        border-radius: 0 var(--border-radius) var(--border-radius) 0;

        &:hover {
          background-color: var(--secondary-color);
        }
      }
    }
  }

  .booking-extras-options {
    position: absolute;
    top: 70px;
    left: -1px;
    background: white;
    width: calc(100% - 16px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 8px;
    border: 1px solid var(--border-color);
    min-width: 140px;

    .open & {
      opacity: 1;
      top: 60px;
    }
  }

  span {
    //padding: 18px 10px;
    //border: none;
    // margin: 0;
    //cursor: pointer;
    //font-family: var(--book-font);
  }

  .expander {
    position: absolute;
    right: 0;
    background-color: transparent;

    svg {
      fill: black;
      width: 10px;
      height: 6px;
      transition: transform 0.3s ease;
      transform-origin: 5px 3px;
    }

    .open & {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  .search_occupancy.open,
  .search_promo_code.open {
    .expander {
      svg {
        transform: rotate(180deg);
      }
    }

    .booking-extras-options {
      opacity: 1;
      top: 60px;
    }
  }
}

.booking-extras-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 20px 0 0;

  a {
    text-decoration: none;
    font-size: 12px;
  }

  .cancel {
    color: #aeaeae;
  }

  .apply {
    background-color: var(--primary-color);
    text-transform: uppercase;
    padding: 3px 15px;
    border-radius: var(--border-radius);
    color: white;
    font-weight: bolder;
    transition: 0 0.3s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}
