#widget-title-box {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    word-wrap: normal;
}

#widget-title {
    padding: 0 10px;
    margin: 5px;
    text-align: center;
}

#widget-tagline {
    padding: 0 10px;
    margin: 5px;
    text-align: center;
}

.rootrez_widget_form_wrapper {
    max-width: 800px;
    background-color: #fff;
    border-radius: var(--border-radius);
    border: var(--form-border);
    box-shadow: var(--box-shadow);
    margin: 0 auto;

    //overflow: hidden;
    // border: 1px solid red;
}

#rootrez-widget-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0;

    > div {
        box-sizing: border-box;
    }

    .search {
        &_dates {
            flex: 1 1 35%;
            border-right: 1px solid var(--border-color);
            height: 60px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem;

            svg {
                fill: var(--primary-color);
                width: 18px;
                height: 18px;
                margin-right: .5rem;
            }

            @include mq(phone-only) {
                flex-basis: 100%;
                text-align: center;
                border-bottom: 1px solid var(--border-color);
                border-right: none;
            }
        }

        &_extras {
            -webkit-box-flex: 0;
            flex: 1 1 40%;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;

            @include mq(phone-only) {
                flex-basis: 100%;
            }


            select {
                -webkit-appearance: none;
                appearance: none;
                outline: 0;
                box-shadow: none;
                border: 0 !important;
                font-family: var(--book-font);
                line-height: 3;
                overflow: hidden;
                font-size: 13px;
                cursor: pointer;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                background-position: 100% center;
                background-repeat: no-repeat;
                background-size: 9px;
                padding-right: 20px;
                margin-right: 20px;
                background-color: white;
            }
        }

        &_promo_code {
            flex: 0 1 25%;
            border-right: 1px solid var(--border-color);
            height: 60px;
            padding: 1rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            position: relative;

            @include mq(phone-only) {
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
            }


            svg {
                fill: var(--primary-color);
                width: 20px;
                height: 20px;
                margin-right: .5rem;
            }
        }

        &_occupancy {
            //display: flex;
            flex: 0 1 25%;
            padding: 1rem;
            position: relative;

            &-event {
                display: flex;
                justify-content: flex-start;
            }

            h3.guest-total {
                font-size: 1rem;
                font-weight: normal;
                margin: 0;
            }

            svg {
                fill: var(--primary-color);
                width: 20px;
                height: 20px;
                margin-right: .5rem;

                .counter_wrap & {
                    margin: 0;
                }
            }

            .counter_wrap {
                svg {
                    margin-right: 0;
                }
            }
        }

        &_submit {
            flex: 0 1 15%;

            //width: 20%;
            border-radius: var(--border-radius);

            @include mq(phone-only) {
                flex-basis: 100%;
            }


            button {
                width: 100%;
                margin: 0;
                padding: 0;
                border: none;
                background-color: var(--primary-color);
                text-transform: uppercase;
                color: white;
                height: 60px;
                cursor: pointer;
                font-size: 14px;
                font-family: var(--book-font);
                border-radius: 0 var(--border-radius) var(--border-radius) 0;

                &:hover {
                    background-color: var(--secondary-color);
                }
            }
        }
    }

    span {
        //padding: 18px 10px;
        //border: none;
        // margin: 0;
        //cursor: pointer;
        //font-family: var(--book-font);
   
    }

    .expander {
        position: absolute;
        right: 0;
        background-color: transparent;

        svg {
            fill: black;
            width: 10px;
            height: 6px;
            transition: transform .3s ease;
        }

        .open & {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.search_occupancy.open {
    .expander {
        svg {
           transform: rotate(180deg); 
        }
    }
}